{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/login.css') }}" />
{% endblock %}
{% block body %}

<h2>E-Exam </h2>
<hr>

<div class="login-block">
    <h3 style="text-align: center"> Login ✅</h3>


    <form action="{{ path('login') }}" method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" placeholder="Username" id="username" name="_username" value="{{ last_username }}"/><br>
        </div>
        <div class="form-group">
            <label for="password">Password</label>

            <input class="form-control" type="password" placeholder="Password" id="password" name="_password" /> <br>
        </div>
        <button class="btn btn-block btn-primary" type="submit">Login</button>
    </form>

    {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
</div>
{% endblock %}
