{% extends 'base.html.twig' %}

{% block title %}Exam index{% endblock %}

{% block body %}
    <h1>All Exams</h1>

    <hr>

    <table class="table" style="width: 100%">
        <thead>
        <tr>
            <th>Date</th>
            <th>NumberOfQuestions</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for exam in exams %}
            <tr >
                <td style="text-align: center;">{{ exam.openDate ? exam.openDate|date('d-m-Y') : '' }}</td>
                <td style="text-align: center;">{{ exam.numberOfQuestions }}</td>
                <td style="text-align: center;">
                    <a href="{{ path('exam_take', {'id': exam.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
