
{% extends 'base.html.twig' %}

{% block title %}Preview{% endblock %}

{% block body %}
    <h1>Preview</h1>
    <hr>

    {{ include('exam/_preview_form2.html.twig', {'button_label': 'Create'}) }}

{% endblock %}
